---
layout: default
---
<div class="hero-unit home-page">
  <h1>Open Leadership Map</h1>
  <p>The Open Leadership Map Whitepaper</p>
</div>

<div class="home-page lesson-content">
  <div class="intro">We think of Open Leadership as a set of principles, practices, and skills people can use to mobilize their communities to solve shared problems and achieve shared goals. The goal of the map is to illustrate how those principles, practices, and skills relate to one another.</div>
  <div>{{ content }}</div>
</div>
